<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ritu_jee</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<servlet-class>com.controller.SignupServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>AddProductFilter</filter-name>
		<filter-class>com.filter.AddProductFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AddProductFilter</filter-name>
		<url-pattern>/AddProductServlet</url-pattern>
	</filter-mapping>
	<servlet>
		<description></description>
		<display-name>ListCookieServlet</display-name>
		<servlet-name>ListCookieServlet</servlet-name>
		<servlet-class>com.controller.ListCookieServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ListCookieServlet</servlet-name>
		<url-pattern>/ListCookieServlet</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>5</session-timeout>
	</session-config>
	<listener>
		<listener-class>com.listener.UserCounterListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>com.controller.AdminLoginServlet</servlet-class>
		<init-param>
			<param-name>email</param-name>
			<param-value>admin@mysite.com</param-value>
		</init-param>
		<init-param>
			<param-name>password</param-name>
			<param-value>secret</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/AdminLoginServlet</url-pattern>
	</servlet-mapping>


	<context-param>
		<param-name>gemail</param-name>
		<param-value>superadmin@mysite.com</param-value>
	</context-param>
	<context-param>
		<param-name>gpassword</param-name>
		<param-value>supersecret</param-value>
	</context-param>


	<jsp-config>
		<taglib>
			<taglib-uri>www.royal.com/ritu/elfunc</taglib-uri>
			<taglib-location>/WEB-INF/elfunc.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>www.royal.com/ritu/stag</taglib-uri>
			<taglib-location>/WEB-INF/stag.tld</taglib-location>
		</taglib>
			<taglib>
			<taglib-uri>www.royal.com/ritu/ctag</taglib-uri>
			<taglib-location>/WEB-INF/ctag.tld</taglib-location>
		</taglib>
	
	</jsp-config>
	


</web-app>